{% extends "base.html" %} {% load static %} {% block dependencies %}
<style>
    body {
        font-family: Arial, Helvetica, sans-serif;
    }
    
    form {
        border: 3px solid #f1f1f1;
    }
    
    input[type=text],
    input[type=password] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }
    
    button {
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
    }
    
    button:hover {
        opacity: 0.8;
    }
    
    .cancelbtn {
        width: auto;
        padding: 10px 18px;
        background-color: #f44336;
    }
    
    .imgcontainer {
        text-align: center;
        margin: 24px 0 12px 0;
    }
    
    img.avatar {
        width: 40%;
        border-radius: 50%;
    }
    
    .container {
        padding: 16px;
    }
    
    span.psw {
        float: right;
        padding-top: 16px;
    }
    /* Change styles for span and cancel button on extra small screens */
    
    @media screen and (max-width: 300px) {
        span.psw {
            display: block;
            float: none;
        }
        .cancelbtn {
            width: 100%;
        }
    }
</style>


{% endblock dependencies %} {% block content %}
<br>
<br>
<br>

<div class="container">

    <div class="row ">

        <div class="col-md-12 col-sm-12 col-lg-8 mx-auto">
            <form action="./user/contact" ide="contactform" class="  rounded-3 p-4 " style="background-color: rgb(184, 228, 226);" method="POST">
                <div class="form-group">
                    <h3 class="text-danger text-center">Contact Us</h3>
                </div>
                {% csrf_token %}

                <div class="form-group">
                    <label for="subject">Email:</label>
                    <input type="email" id="emails" class="form-control" name="email" placeholder="Enter Email Here" multiple autocomplete="off" required>

                </div>
                <div class="form-group">
                    <label for="subject">Subject:</label>
                    <input type="text" class="form-control" id="subject" placeholder="Enter Subject Here" name="subject" autocomplete="off" required>

                </div>
                <div class="form-group">
                    <label for="description">Description:</label>
                    <textarea name="description" rows="8" cols="50" class="form-control" placeholder="Enter Description Here"></textarea>

                </div>

                <button type="submit" class="btn btn-dark">Submit</button>
            </form>
        </div>


    </div>


</div>

{% endblock content %}